<body>

    <div class="bg"></div>

    <p class="py-5 text-center">This example creates a half page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>

</body>      <!-- navbar navbar-expand-lg navbar-dark unique-color -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark ">
    <!-- Container wrapper -->
    <div class="container">
        
      <!-- Navbar brand -->
      <!-- navbar navbar-expand-lg navbar-dark unique-color -->
      <!-- <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
          height="16"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
   -->
      <!-- Toggle button -->
      <!-- <button
        class="navbar-toggler"
        type="button"
        
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
   -->
      <!-- Collapsible wrapper -->
      <!-- <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"> -->
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
          <li class="nav-item">
            <a class="nav-link text-white text-end" href="#">Dashboard</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn  px-3 me-2">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3">
            Login Out
          </button>
           
        </div>
      </div>
      <!-- Collapsible wrapper -->
    <!-- </div> -->
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->



















<div class="container mt-4">
<div class="card">
<h1>loans Form</h1>

<form>

<div class="form-group">
<label>LoanType</label>
<input type="text" class="form-control" [(ngModel)]="LoanType"[ngModelOptions]="{standalone: true}" id="LoanType"placeholder="LoanType">
</div>


<div class="form-group">
<label>BorrowerName</label>
<input type="text" class="form-control" [(ngModel)]="BorrowerName" [ngModelOptions]="{standalone:true}" id="BorrowerName"placeholder="BorrowerName">
</div>


<div class="form-group">
<label> Amount</label>
<input type="text" class="form-control" [(ngModel)]=" Amount" [ngModelOptions]="{standalone:true}" id=" Amount"placeholder=" Amount">
</div>
<br>

<button type="submit" (click)="save()" class="btn btn-primary">Submit</button>
  
</form>
</div>
</div>


<div class="container mt-4" >
<h1>loans Table</h1>
<table class="table">
<thead>    
         <tr>
          <th scope="col">LoanNumber</th>
          <th scope="col">LoanType</th>
          <th scope="col">BorrowerName</th> 
         <th scope="col"> Amount </th>
        </tr>
</thead>
       <tbody>
            
          <tr *ngFor="let loansItem of loansArray;let i = index">
          <td>{{i+1}}</td>
          <td>{{loansItem.LoanType }}</td>
          <td>{{loansItem.BorrowerName }}</td>
          <td>{{loansItem.Amount }}</td>
          <td><button type="button" class="btn btn-success" (click)="setUpdate(loansItem)">Edit</button></td>
          <td><button  type="button" class="btn btn-danger " (click)="setDelete(loansItem)">Delete</button>  </td>
          </tr>   
                 
      </tbody>

</table>
     
</div>  
 



















<router-outlet></router-outlet> 